<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node">
    <param name="_port" value="/dev/hokuyo" />
  </node>
  <node name="obstacle_avoidance" pkg="obstacle_avoidance" type="hokPotFields.py">
  </node>
  <rosparam param="hokuyo_node/port">/dev/hokuyo</rosparam>
</launch>