<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node">
    <param name="~ip_address" value="192.168.0.10" />
  </node>
  <node name="obstacle_avoidance" pkg="obstacle_avoidance" type="hokPotFields.py">
  </node>
  <rosparam param="hokuyo_node/port">/dev/hokuyo</rosparam>
</launch>